.about .article-title { 
  margin-bottom: 1.5rem; 
}

.about-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  line-height: 1.6;
}

.about-text p { 
  margin-bottom: 3rem; 
}

.service { 
  margin-bottom: 3.5rem; 
}

.service-title { 
  margin-bottom: 2rem; 
}

.service-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.service-item {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 2rem;
  border-radius: 1.4rem;
  z-index: 1;
}

.service-item::before {
  content: "";
  position: absolute;
  inset: 0.1rem;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}

.service-icon-box { 
  margin-bottom: 1rem; 
}

.service-icon-box img { 
  margin: auto; 
}

.service-content-box { 
  text-align: center; 
}

.service-item-title { 
  margin-bottom: 0.7rem; 
}

.service-item-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  line-height: 1.6;
}