.about .article-title { 
  margin-bottom: 1.5rem; 
}

.about-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  line-height: 1.6;
}

.about-text p { 
  margin-bottom: 1.5rem; 
}

.work-list {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-item {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.work-icon { 
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
}

.work-item p {
  margin: 0;
  line-height: 1.5;
}

.tech { 
  margin-bottom: 3.5rem; 
}

.tech-title { 
  margin: 2.5rem 0; 
}

.tech-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.tech-item {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 2rem;
  border-radius: 1.4rem;
  z-index: 1;
}

.tech-item::before {
  content: "";
  position: absolute;
  inset: 0.1rem;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}

.tech-icon-box { 
  margin-bottom: 1rem; 
}

.tech-icon-box img { 
  margin: auto; 
}

.tech-content-box { 
  text-align: center; 
}

.tech-item-title { 
  margin-bottom: 0.7rem; 
}

.tech-item-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  line-height: 1.6;
}