:root {
  font-size: 62.5%;
  --ff-poppins: 'Poppins', sans-serif;

  --bg-gradient-onyx: linear-gradient(
    to bottom right,
    #3f3f40 3%,
    #303030 97%
  );
  --bg-gradient-jet:
    linear-gradient(
      to bottom right,
      #2d2d2e40 0%,
      #1b1b1d00 100%
    ),
    #202022;

  --border-gradient-onyx: linear-gradient(
    to bottom right,
    #404040 0%,
    #40404000 50%
  );

  --text-gradient-papaya: linear-gradient(
    to right,
    #ff8000,
    #ff8700
  );

  --jet: #383838;
  --onyx: #2b2b2c;
  --smoky-black: #121212;
  --white-1: #ffffff;
  --white-2: #fafafa;
  --papaya: #ff8700;
  --light-gray: #d6d6d6;
  --light-gray-20: #f8f7f633;
  --light-gray-70: #d6d6d6b3;
  --metalic-blue: #0082c8;

  --fs-1: 2.4rem;
  --fs-2: 1.8rem;
  --fs-3: 1.7rem;
  --fs-4: 1.6rem;
  --fs-5: 1.5rem;
  --fs-6: 1.4rem;
  --fs-7: 1.3rem;
  --fs-8: 1.1rem;
}

/* Classe de acessibilidade para esconder elementos visualmente mas mantê-los acessíveis para leitores de tela */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
