.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--onyx);
  border: 0.1rem solid var(--jet);
  border-radius: 1.2rem 1.2rem 0 0;
  z-index: 5;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.navbar-link {
  color: var(--light-gray);
  font-size: var(--fs-4);
  padding: 2rem 0.7rem;
}

.navbar-link:hover,
.navbar-link:focus { 
  color: var(--light-gray-70); 
}

.navbar-link.active { 
  color: var(--papaya);
}


