*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }


button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input, textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: var(--papaya);
}

:focus { outline-color: var(--papaya); }

html { font-family: var(--ff-poppins); }

body { background: var(--smoky-black); }

.sidebar,
article {
  background: var(--onyx);
  border: 0.1px solid var(--jet);
  border-radius: 2rem;
  padding: 1.5rem;
  z-index: 1;
}

.separator {
  width: 100%;
  height: 0.1rem;
  background: var(--jet);
  margin: 1.6rem 0;
}

.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 3rem;
  height: 3rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-4);
  color: var(--papaya);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 0.1rem;
  border-radius: inherit;
  z-index: -1;
}

.icon-box ion-icon { --ionicon-stroke-width: 3.5rem; }

article { display: none; }

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

.h2,
.h3,
.h4,
.h5 {
  color: var(--white-2);
  text-transform: capitalize;
}

.h2 { font-size: var(--fs-1); }

.h3 { font-size: var(--fs-2); }

.h4 { font-size: var(--fs-4); }

.h5 { font-size: var(--fs-7); }

.article-title {
  position: relative;
  padding-bottom: 0.7rem;
}

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3rem;
  height: 0.3rem;
  background: var(--text-gradient-papaya);
  border-radius: 0.3rem;
}