@media (min-width: 580px) {

.sidebar, article {
  width: 52rem;
  margin-inline: auto;
  padding: 3rem;
}

.article-title {
  padding-bottom: 1.5rem;
}

.article-title::after {
  width: 4rem;
  height: 0.5rem;
}

.icon-box {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 1.2rem;
  font-size: var(--fs-2);
}

.main-content {
  position: relative;
  width: max-content;
  margin: auto;
}

.sidebar {
  max-height: 18rem;
  margin-bottom: 3rem;
}

.sidebar.active { max-height: 58.4rem; }

.sidebar-info { gap: 2.5rem; }

.avatar-box { border-radius: 3rem; }

.avatar-box img { width: 12rem; }

.info-content .name { margin-bottom: 1.5rem; }

.info-content .title { padding: 0.5rem 1.8rem; }

.info_more-btn {
  top: -3rem;
  right: -3rem;
  padding: 1rem 1.5rem;
}

.info_more-btn span {
  display: block;
  font-size: var(--fs-8);
}

.info_more-btn ion-icon { display: none; }

.separator { margin: 3.2rem 0; }

.contacts-list { gap: 2rem; }

.contact-info {
  max-width: calc(100% - 6.4rem);
  width: calc(100% - 6.4rem);
}

.navbar {
  position: absolute;
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
  width: max-content;
  border-radius: 0 2rem;
  padding: 0 2rem;
  box-shadow: none;
  
}

.navbar-list {
  gap: 3rem;
  padding: 0 2rem;
}

.navbar-link { border: none; }

.about { margin-top: 4.7rem }

.about .article-title { margin-bottom: 2rem; }

.about-text { margin-bottom: 4rem; }

#link3 {
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: var(--ff-poppins);
  width: 40rem;
  color: var(--smoky-black);
  background-color: var(--light-gray);
  border: solid 0.3rem var(--smoky-black);
  border-radius: 1.5rem;
  font-size: var(--fs-5);
  padding: 1.3rem 2rem;
  margin: 5rem auto 0;
  transition: 0.8s;
}

.tech-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.8rem;
  padding: 3rem;
}

.tech-icon-box {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.tech-content-box { text-align: left; }

.content-card {
  padding: 3rem;
  padding-top: 2.5rem;
}
}


@media (min-width: 768px) {

.h3 {
  font-size: 2rem;
}

.sidebar, article { width: 70rem; }

.contacts-list {
  grid-template-columns: 1fr 1fr;
  gap: 3rem 1.5rem;
}

.navbar {
  position: absolute;
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
  width: max-content;
  border-radius: 0 2rem;
  padding: 1rem 2rem;
}

.navbar-link { font-size: var(--fs-2); }

.article-title { padding-bottom: 2rem; }

.info-content .name { 
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.info-content .title { 
  padding: 0.5rem 1.8rem; 
  font-size: var(--fs-5);
}

.project-list { grid-template-columns: 1fr 1fr; }

#link3 {
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: var(--ff-poppins);
  width: 40rem;
  color: var(--smoky-black);
  background-color: var(--white-2);
  border: solid 0.3rem var(--smoky-black);
  border-radius: 1.5rem;
  font-size: var(--fs-2);
  padding: 1.3rem 2rem;
  margin: 5rem auto 0;
  transition: 0.8s;
  }

.footer-main p {
  position: static;
  color: var(--papaya);
  font-size: var(--fs-4);
}

  
}


@media (min-width: 1024px) {

.sidebar {
  position: sticky;
}

.sidebar, article {
  width: 95rem;
}

main { 
  margin-bottom: 6rem; }

.main-content {
  position: relative;
  width: max-content;
  margin: auto;
}

.navbar {
  position: absolute;
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
  width: max-content;
  border-radius: 0 2rem;
  padding: 0 2rem;
  box-shadow: none;
  margin-top: 4.6rem;
}

.navbar-list {
  gap: 3rem;
  padding: 1rem 2rem;
}

.navbar-link { font-size:var(--fs-2); }

.tech-list {
  grid-template-columns: 1fr 1fr;
  gap: 2rem 2.5rem;
}

.project-list { grid-template-columns: repeat(3, 1fr); }

footer :is(.redes, a) {
  display: none;
}
  
}



@media (min-width: 1250px) {

.sidebar, article { 
  width: auto; 
}

main {
  max-width: 120rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2.5rem;
}

.main-content {
  min-width: 75%;
  width: 75%;
  margin: 0;
}


.sidebar {
  position: sticky;
  top: 6rem;
  max-height: max-content;
  height: 100%;
  margin-bottom: 0;
  padding-top: 6rem;
  z-index: 1;
}

.sidebar-info { flex-direction: column; }

.avatar-box img { width: 15rem; }

.info-content .name {
  white-space: nowrap;
  text-align: center;
}

.info-content .title { margin: auto; }

.info_more-btn { display: none; }

.sidebar-info_more {
  opacity: 1;
  visibility: visible;
}

.contacts-list { grid-template-columns: 1fr; }

.contact-info :is(.contact-link) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-info :is(.contact-link, time, address) {
  font-size: var(--fs-6);
}

.separator:last-of-type {
  margin: 1.5rem 0;
  opacity: 0;
}

.social-list { justify-content: center; }

footer :is(.redes, a) {
  display: none;
}
  
}