/* Base Mobile (até 639px) - tudo empilhado,compacto  */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.sidebar, .main-content {
  width: 100%;
  margin: 0 auto;

}

.sidebar {
  max-height: 50rem;
}

.sidebar-info {
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.avatar-box img {
  width: 10rem;
  height: 10rem;
}

.info-content .name {
  text-align: center;
}

.contacts-list {
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.social-list {
  justify-content: center;
}

.navbar {
  position: initial;
  width: 100%;
  padding:1rem;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
}

.navbar .navbar-list {
  justify-content: space-evenly;
}

.navbar-link.active { 
  color: var(--papaya);
}

.about .h2,
.about .h3 {
  text-align: center;
}



/* Base Tablet (até 648px+) */
@media (min-width: 648px) {
  .sidebar, article {
    width: 52rem;
    padding: 3rem;
    margin-inline: auto;
  }

  .main-content {
    position: relative;
    width: max-content;
  }

  .navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    border-radius: 0 2rem;
    box-shadow: none;
  }

  .icon-box {
    width: 4.8rem;
    height: 4.8rem;
  }

  .tech-item {
    display: flex;
    gap: 1.8rem;
    padding: 3rem;
  }
}

/* Base LAPTOP/DESKTOP (1024px+) - grid + sidebar sticky  */

@media (min-width: 1024px) {
  main {
    max-width: 95rem;
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 2.5rem;
  }

  .sidebar {
    position: sticky;
    top: 6rem;
    height: fit-content;
  }

  .tech-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 2.5rem;
  }

  .project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}


/* Base Mobile (1280px+) - largura máxima  */
@media (min-width: 1280px) {
  main {
    max-width: 120rem;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
  }

  .main-content {
    min-width: 75%;
    width: 75%;
  }

  .sidebar-info {
    flex-direction:column;
  }

  .info-more-btn {
    display: none;
  }
}
















@media (min-width: 1024px) {

.sidebar {
  position: sticky;
}

.sidebar, article {
  width: 95rem;
}

main { 
  margin-bottom: 6rem; }

.main-content {
  position: relative;
  width: max-content;
  margin: auto;
}

.navbar {
  position: absolute;
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
  width: max-content;
  border-radius: 0 2rem;
  padding: 0 2rem;
  box-shadow: none;
  margin-top: 4.6rem;
}

.navbar-list {
  gap: 3rem;
  padding: 1rem 2rem;
}

.navbar-link { font-size:var(--fs-2); }

.tech-list {
  grid-template-columns: 1fr 1fr;
  gap: 2rem 2.5rem;
}

.project-list { grid-template-columns: repeat(3, 1fr); }

footer :is(.redes, a) {
  display: none;
}
  
}



@media (min-width: 1250px) {

.sidebar, article { 
  width: auto; 
}

main {
  max-width: 120rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2.5rem;
}

.main-content {
  min-width: 75%;
  width: 75%;
  margin: 0;
}


.sidebar {
  position: sticky;
  top: 6rem;
  max-height: max-content;
  height: 100%;
  margin-bottom: 0;
  padding-top: 6rem;
  z-index: 1;
}

.sidebar-info { flex-direction: column; }

.avatar-box img { width: 15rem; }

.info-content .name {
  white-space: nowrap;
  text-align: center;
}

.info-content .title { margin: auto; }

.info_more-btn { display: none; }

.sidebar-info_more {
  opacity: 1;
  visibility: visible;
}

.contacts-list { grid-template-columns: 1fr; }

.contact-info :is(.contact-link) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-info :is(.contact-link, time, address) {
  font-size: var(--fs-6);
}

.separator:last-of-type {
  margin: 1.5rem 0;
  opacity: 0;
}

.social-list { justify-content: center; }

footer :is(.redes, a) {
  display: none;
}
  
}