.sidebar {
  margin-bottom: 1.5rem;
  max-height: 11.2rem;
  overflow: hidden;
}

.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.avatar-box img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
}

.info-content .name {
  color: var(--white-2);
  font-size: var(--fs-3);
  letter-spacing: -0.025rem;
  margin-bottom: 1rem;
}

.info-content .title {
  color: var(--white-1);
  background: var(--onyx);
  font-size: var(--fs-8);
  width: 30rem;
  padding: 0.3rem 1.2rem;
  border-radius: 0.8rem;
  text-align: center;
}

.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
}

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.contact-info {
  max-width: calc(100% - 4.6rem);
  width: calc(100% - 4.6rem);
}

.contact-title {
  color: var(--light-gray-70);
  font-size: var(--fs-8);
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.contact-info :is(.contact-link, time, address) {
  color: var(--white-2);
  font-size: var(--fs-7);
}

.contact-info address { 
  font-style: var(--fs-6); 
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 0.4rem;
  padding-left: 0.7rem;
}

.social-item .social-link {
  color: var(--light-gray-70);
  font-size: var(--fs-2);
}


.social-item 
.social-link:hover { 
  color: var(--metalic-blue); 
}
